spring:
  data:
    redis:
      port: 6379
      host: redis
  cache:
    type: redis
#  config:
#    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ${DB_PASSWORD}
    username: ${DB_USERNAME}
    url: ${DB_URL}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 3MB
      max-request-size: 3MB
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile, email, openid
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    enabled: true
minio:
  songBucket: ${MINIO_SONG_BUCKET}
  imageBucket: ${MINIO_IMAGE_BUCKET}
  url: ${MINIO_URL}
  accessKey: ${MINIO_ACCESSKEY}
  secretKey: ${MINIO_SECRETKEY}

management:
  endpoints:
    web:
      exposure:
        include: 'prometheus, health'
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true



