<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="Head">
    <h1>All Albums</h1>
    <a href="/">Back to menu</a>
</div>
<form action="/albums">
    <label for="title">title:
        <input type="text" id="title" name="title" th:value="${filter.getTitle()}">
    </label>
    <div>
        <label for="page">Page:
            <input type="number" id="page" name="page" th:value="${albums.metadata.page}">
        </label>
        <label for="size">Size:
            <input type="number" id="size" name="size" th:value="${albums.metadata.size}">
        </label>
    </div>
    <input type="submit" value="Search">
</form>
<div class="foreachList">
    <div th:each= "album : ${albums.content}">
        <span th:text="${album.id}"></span>
        <span th:text="${album.title}"></span>
        <span th:text="${album.description}"></span>
        <span th:text="'author: ' + ${#authentication.name}"></span>
        <a th:href="@{/albums/{id}(id=${album.id})}">open album</a>
    </div>
</div>
<a href="/albums/createAlbum">Create album</a>
<br>

</body>
</html>