<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="Head">
    <h1>All users</h1>
    <a href="/">Back to menu</a>
</div>
<div class="foreachList">
    <div th:each="user : ${users}">
        <span th:text="${user.username}"></span>
        <span th:text="${user.firstName}"></span>
        <span th:text="${user.lastName}"></span>
        <span th:text="${user.email}"></span>
        <span th:text="${user.role}"></span>
        <a th:href="@{/users/{id}(id=${user.id})}">open profile</a>
    </div>
</div>

<a href="/users/createUser">Create user</a>
</body>
</html>