<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="Head">
    <h1>All users</h1>
    <a href="/">Back to menu</a>
</div>
<form action="/users">
    <label for="firstName">Firstname:
        <input type="text" id="firstName" name="firstName" th:value="${filter.getFirstName()}">
    </label>
    <label for="lastName">Lastname:
        <input type="text" id="lastName" name="lastName" th:value="${filter.getLastName()}">
    </label>
    <input type="submit" value="Search">
</form>

<div class="pagination">

    <th:block th:if="${users.metadata.page + 1 > 1}">
        <a th:href="@{/users(firstName=${filter.getFirstName()}, lastName=${filter.getLastName()}, page=0)}">
            Первая
        </a>
    </th:block>
    <th:block th:unless="${users.metadata.page + 1 > 1}">
        <a>
            Первая
        </a>
    </th:block>


    <th:block th:if="${users.metadata.page + 1 >= 1}">
        <a th:href="@{/users(firstName=${filter.getFirstName()}, lastName=${filter.getLastName()}, page=${users.metadata.page - 1})}">
            ←
        </a>
    </th:block>
    <th:block th:unless="${users.metadata.page + 1 >= 1}">
        <a>
            ←
        </a>
    </th:block>

    <span class="current-page" th:text="'Страница ' + ${users.metadata.page+1} + ' из ' + ${users.metadata.totalSize}"></span>

    <th:block th:if="${users.metadata.page+1 < users.metadata.totalSize}">
        <a th:href="@{/users(firstName=${filter.getFirstName()}, lastName=${filter.getLastName()}, page=${users.metadata.page + 1})}">
            →
        </a>
    </th:block>
    <th:block th:unless="${users.metadata.page+1 < users.metadata.totalSize}">
        <a>
            →
        </a>
    </th:block>

    <th:block th:if="${users.metadata.page+1 < users.metadata.totalSize}">
        <a th:href="@{/users(firstName=${filter.getFirstName()}, lastName=${filter.getLastName()}, page=${users.metadata.totalSize})}">
            Последняя
        </a>
    </th:block>
    <th:block th:unless="${users.metadata.page+1 < users.metadata.totalSize}">
        <a>
            Последняя
        </a>
    </th:block>
</div>
<div class="foreachList">
    <div th:each="user : ${users.content}">
        <span th:text="${user.username}"></span>
        <span th:text="${user.firstName}"></span>
        <span th:text="${user.lastName}"></span>
        <span th:text="${user.email}"></span>
        <span th:text="${user.role}"></span>
        <a th:href="@{/users/{id}(id=${user.id})}">open profile</a>
    </div>
</div>

<a href="/users/createUser">Create user</a>
</body>
</html>