<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="Head">
    <h1>All users</h1>
    <a href="/">Back to menu</a>
</div>
<form action="/users">
    <label for="firstName">Firstname:
        <input type="text" id="firstName" name="firstName" th:value="${filter.firstName}">
    </label>
    <label for="lastName">Lastname:
        <input type="text" id="lastName" name="lastName" th:value="${filter.lastName}">
    </label>
    <div>
        <label for="page">Page:
            <input type="number" id="page" name="page" th:value="${users.metadata.page}">
        </label>
        <label for="size">Size:
            <input type="number" id="size" name="size" th:value="${users.metadata.size}">
        </label>
    </div>
    <input type="submit" value="Search">
</form>
<div class="foreachList">
    <div th:each="user : ${users.content}">
        <span th:text="${user.username}"></span>
        <span th:text="${user.firstName}"></span>
        <span th:text="${user.lastName}"></span>
        <span th:text="${user.email}"></span>
        <span th:text="${user.role}"></span>
        <a th:href="@{/users/{id}(id=${user.id})}">open profile</a>
    </div>
</div>

<a href="/users/createUser">Create user</a>
</body>
</html>