<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shaudify - Вход</title>
    <link rel="stylesheet" th:href="@{/css/_base.css}">
    <link rel="stylesheet" th:href="@{/css/_layout.css}">
    <link rel="stylesheet" th:href="@{/css/_components.css}">
    <link rel="stylesheet" th:href="@{/css/_pages.css}">
    <link rel="stylesheet" th:href="@{/css/_responsive.css}">
</head>
<body class="login-body">
<div class="login-page-container">
    <div class="login-brand">
        <img th:src="@{/images/shaudify_logo.png}" alt="Shaudify Logo" class="login-logo-img">
        <h1 class="login-brand-name">Shaudify</h1>
    </div>

    <div class="login-form-box">
        <h2 class="login-box-title">Войдите в Shaudify</h2>

        <form th:action="@{/login}" method="post" class="login-main-form">
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Пароль" required>
            </div>

            <button type="submit" class="login-submit-button">Войти</button>
        </form>

        <div class="login-messages">
            <p th:if="${param.error}" class="error-message">Неверное имя пользователя или пароль.</p>
            <p th:if="${param.logout}" class="success-message">Вы успешно вышли из системы.</p>
        </div>

        <div class="login-divider"></div>

        <p class="login-no-account-text">Нет аккаунта?</p>

        <a th:href="@{/users/createUser}" class="login-register-button">Зарегистрироваться в Shaudify</a>
        <br>
        <br>
        <a href="/oauth2/authorization/google" class="login-register-button">Зарегистрироваться через Google</a>


    </div>
</div>
</body>
</html>