<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="Head">
    <h2>User Profile</h2>
</div>
<div>
    <span>ID:</span>
    <span th:text="${user.id}"></span>
</div>
<div>
    <span>Username:</span>
    <span th:text="${user.username}"></span>
</div>
<div>
    <span>Email:</span>
    <span th:text="${user.email}"></span>
</div>
<div>
    <span>First Name:</span>
    <span th:text="${user.firstName}"></span>
</div>
<div>
    <span>Last Name:</span>
    <span th:text="${user.lastName}"></span>
</div>
<a href="/">Menu</a>
<a href="/users">Return to Users list</a>
</body>
</html>