<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="Head">
    <h1>All Songs</h1>
</div>
<div class="foreachList">
    <div th:each= "song : ${songs}">
        <span th:text="${song.id}"></span>
        <span th:text="${song.title}"></span>
        <span th:text="${song.description}"></span>
        <a th:href="@{/songs/{id}(id=${song.id})}">open profile</a>
<!--        <a th:href="@{/like/{id}/like(id=${song.id})}">like song</a>-->
        <form th:action="@{/songs/{id}/like(id=${song.id})}" method="post">
            <input type="submit" value="Like">
        </form>
    </div>
</div>
<a href="/songs/createSong">Create song</a>
<br>
<a href="/">menu</a>
</body>
</html>