<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="Head">
    <h1>All Songs</h1>
    <a href="/">Back to menu</a>
</div>
<form action="/songs">
    <label for="title">title:
        <input type="text" id="title" name="title" th:value="${filter.getTitle()}">
    </label>
    <input type="submit" value="Search">
</form>
<div class="pagination">

    <th:block th:if="${songs.metadata.page+1 > 1}">
        <a th:href="@{/songs(title=${filter.getTitle()}, page=0)}">
            Первая
        </a>
    </th:block>
    <th:block th:unless="${songs.metadata.page+1 > 1}">
        <a>
            Первая
        </a>
    </th:block>


    <th:block th:if="${songs.metadata.page+1 >= 1}">
        <a th:href="@{/songs(title=${filter.getTitle()}, page=${songs.metadata.page - 1})}">
            ←
        </a>
    </th:block>
    <th:block th:unless="${songs.metadata.page+1 >= 1}">
        <a>
            ←
        </a>
    </th:block>

    <span class="current-page" th:text="'Страница ' + ${songs.metadata.page+1} + ' из ' + ${songs.metadata.totalSize}"></span>

    <th:block th:if="${songs.metadata.page+1 < songs.metadata.totalSize}">
        <a th:href="@{/songs(title=${filter.getTitle()}, page=${songs.metadata.page + 1})}">
            →
        </a>
    </th:block>
    <th:block th:unless="${songs.metadata.page+1 < songs.metadata.totalSize}">
        <a>
            →
        </a>
    </th:block>

    <th:block th:if="${songs.metadata.page+1 < songs.metadata.totalSize}">
        <a th:href="@{/songs(title=${filter.getTitle()}, page=${songs.metadata.totalSize})}">
            Последняя
        </a>
    </th:block>
    <th:block th:unless="${songs.metadata.page+1 < songs.metadata.totalSize}">
        <a>
            Последняя
        </a>
    </th:block>
</div>
<div class="foreachList">
    <div th:each= "song : ${songs.content}">
        <span th:text="${song.id}"></span>
        <span th:text="${song.title}"></span>
        <span th:text="${song.description}"></span>
        <a th:href="@{/songs/{id}(id=${song.id})}">open profile</a>
        <a th:href="@{/albums/add/{songId}(songId=${song.id})}">add to album</a>
<!--        <a th:href="@{/like/{id}/like(id=${song.id})}">like song</a>-->
        <form th:action="@{/songs/{id}/like(id=${song.id})}" method="post">
            <input type="submit" value="Like">
            <div class="foreachList">
                <div th:if="${!errors.isEmpty()}" th:each="error : ${errors}">
                    <span th:text="${error}"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<a href="/songs/createSong">Create song</a>
</body>
</html>