<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="Head">
    <h1>All Songs</h1>
    <a href="/">Back to menu</a>
</div>
<form action="/songs">
    <label for="title">title:
        <input type="text" id="title" name="title" th:value="${filter.getTitle()}">
    </label>
    <div>
        <label for="page">Page:
            <input type="number" id="page" name="page" th:value="${songs.metadata.page}">
        </label>
        <label for="size">Size:
            <input type="number" id="size" name="size" th:value="${songs.metadata.size}">
        </label>
    </div>
    <input type="submit" value="Search">
</form>
<div class="foreachList">
    <div th:each= "song : ${songs.content}">
        <span th:text="${song.id}"></span>
        <span th:text="${song.title}"></span>
        <span th:text="${song.description}"></span>
        <a th:href="@{/songs/{id}(id=${song.id})}">open profile</a>
        <a th:href="@{/albums/add/{songId}(songId=${song.id})}">add to album</a>
<!--        <a th:href="@{/like/{id}/like(id=${song.id})}">like song</a>-->
        <form th:action="@{/songs/{id}/like(id=${song.id})}" method="post">
            <input type="submit" value="Like">
            <div class="foreachList">
                <div th:if="${!errors.isEmpty()}" th:each="error : ${errors}">
                    <span th:text="${error}"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<a href="/songs/createSong">Create song</a>
</body>
</html>