<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="Head">
    <h2>Song Profile</h2>
</div>
<div>
    <span>title:</span>
    <span th:text="${song.title}"></span>
</div>
<div>
    <span>description:</span>
    <span th:text="${song.description}"></span>
</div>
<div class="songByIdCreatorHref">
    <span>creator:</span>
    <a th:href="@{/users/{id}(id=${song.creator.id})}">profile</a>
</div>
<a href="/">Menu</a>
<a href="/songs">Return to Songs list</a>
</body>
</html>