<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${song.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="Head">
    <h1>Song Profile</h1>
    <a href="/">Back to menu</a>
</div>
<div>
    <span>title:</span>
    <span th:text="${song.title}"></span>
</div>
<div>
    <span>description:</span>
    <span th:text="${song.description}"></span>
</div>
<div>
    <span>album:</span>
    <a th:href="@{/albums/{id}(id=${song.albumId})}">open Album</a>
</div>
<div class="songByIdCreatorHref">
    <span>creator:</span>
    <a th:href="@{/users/{id}(id=${song.creatorId})}">profile</a>
</div>
<div>
    <form th:action="@{/songs/{id}/like(id=${song.id})}" method="post">
        <input type="submit" value="Like">
    </form>
</div>
<a href="/songs">Return to Songs list</a>
</body>
</html>